# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Streamlit local configuration and cache
.streamlit/
*.egg-info/
.pytest_cache/

# Operating System Files
.DS_Store
Thumbs.db